@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background: whitesmoke;
	min-height: 100%;
	min-width: 100%;
	background-color: #e3e0da;
}


header {
	position: absolute;
	top: -2.7%;
	width: 90%;
	margin: 0 5%;
	background: url(header.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-box-shadow: 0px 0px 53px -32px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 53px -32px rgba(0,0,0,0.75);
box-shadow: 0px 0px 53px -32px rgba(0,0,0,0.75);
z-index: 999;
}

header .hrline1 {
	top: 0;
	position: relative;
	border: 3px solid red;
	max-width: 99.6%;
}

header .hrline2 {
	bottom: 1.35rem;
	position: relative;
	border: 3px solid black;
	max-width: 99.6%;
}

header picture .logoja {
	position: relative;
	top: -2rem;
	max-height: 6rem;
	width: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

header .hrline3 {
	position: relative;
	max-width: 50%;
	margin: 0 25%;
	border: 1px solid #e6daff;
}

header ul {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	list-style-type: none;
	align-content: center;
	width: 100%;
	text-align: center;
	top: 0rem;
	position: relative;
	color: white;
}

header ul li {
	display: inline-block;
	justify-content: space-between;
	padding: 0.8rem;

}

header ul li a{
	text-decoration: none;
	text-align: left;
}

header ul li a:hover {
	color: #c7afff;
	transition: 0.5s;
}

header ul li a button {
	position: relative;
	background-color: #0952fa;
	padding: 0.35rem 0.5rem;
	border: 1px solid #0952fa;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	z-index: 998;
	font-family: 'Helvetica Neue', sans-serif;
}


header ul li a button:hover {
	background-color: transparent;
	transition: 0.2s;
	border: 1px solid #0952fa;
	color: #0952fa;
	transition: 0.2s;
	cursor: pointer;
}

content {
	position: absolute;
	top: 28%;
	border-radius: 25px;
	width: 90%;
	margin: 0 5% 10% 5%;
	height: auto;
	text-align: center;
	font-family: "Inter", sans-serif;
background: #e0a943;
background: linear-gradient(0deg, rgba(224, 169, 67, 0.8) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 171, 15, 0.9) 86%, rgba(232, 151, 0, 1) 100%);
}

content .prez{
	width: 95%;
	height: auto;
	margin: 0 2.5% 3% 2.5%;
	padding: 3% 7%;
}

.prez h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: white;
}

.prez .nentitull {
	color: white;
	font-size: 1.2rem;
}

.prez .dyt {
	color: white;
}

content .fleta {
	width: 100%;
	border-radius: 20px;
	margin: 0;
	height: auto;
	padding: 2%;
	background: rgb(255,236,199);
  background: linear-gradient(180deg, rgba(255,236,199,1) 21%, rgba(182,147,78,1) 100%);
}

content .ball {
	max-width: 60%;
	height: auto;
}

.fleta ul {
	list-style-type: none;
	padding: 2%;
}

.fleta ul li {
	display: inline;
	padding: 0 1% ;
}

.fleta ul li img {
	max-width: 30%;
	height: auto;
	cursor: pointer;
	border-radius: 15px;
}

.fleta ul li img:hover {
	-webkit-box-shadow: 0px 0px 95px -29px rgba(128,113,13,1);
  -moz-box-shadow: 0px 0px 95px -29px rgba(128,113,13,1);
  box-shadow: 0px 0px 95px -29px rgba(128,113,13,1);
	transition: 1s ease-out;
	transform: scale(1.01);
}

.hrline4 {
	width: 85%;
	position: relative;
	margin: 1% 7.5% 3% 7.5%;
	border: 1px solid #2c3e50;
	opacity: 0.7;
	border-radius: 30%;
}

.footer {
	bottom: -300%;
	width: 90%;
	margin: 0 5%;
	position: absolute;
	font-family: "Inter", sans-serif;
	color: #9ea8b5;
}

.footer img, .footercont {
	grid-gap: none;
}

.footer .footercont {
	background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(10, 7, 18, 1) 50%, rgba(21, 21, 31, 1) 100%);
padding: 2%;
text-align: justify;
}

.footercont div{
	display: inline-grid;
	grid-gap: rem(1, 1);
}

.footercont .info {
	width: 33%;
	padding-right: 1rem;
}

.footercont .info2 {
	width: 33%;
	padding-right: 1rem;
}

.info2 img {
	width: 75%;
	filter: invert(90%);
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.info2 img:hover {
	filter: invert(0.6);
	transition: 0.5s;
}

.info2 .partner {
	text-align: center;
	font-weight: 600;
}

.contact {
	width: 33%;
	padding-right: 1rem;
	text-align: center;
}

.contact ul {
	list-style-type: none;
	margin-bottom: 2%;
}

.contact ul li {
		display: inline;
		padding: 0 2%;
}

.contact ul li img {
	max-width: 10%;
	cursor: pointer;
	filter: invert(0.8);
}

.contact ul li img:hover {
	filter: invert(0.6);
	transition: 0.5s;
}

.contact a button {
	position: relative;
	background-color: #0952fa;
	padding: 0.35rem 0.5rem;
	border: 1px solid #0952fa;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	margin-bottom: 2%;
}

.contact .logo {
	max-width: 80%;
	height: auto;
	cursor: pointer;
}

.contact .logo:hover {
	opacity: 0.8;
	transition: 0.5s ease;
}



.open {
	position: absolute;
	width: 90%;
	margin: 5%;
	height: auto;
	top: 150%;
	border-radius: 40px;
    transition: background-image 0.5s ease-in-out;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 132px 16px rgba(82,79,82,1);
-moz-box-shadow: 0px 0px 132px 16px rgba(82,79,82,1);
box-shadow: 0px 0px 132px 16px rgba(82,79,82,1);
}


.open div {
	padding: 2%;
}

.open .lista {
	position: relative;
	height: auto;
	margin: 2% 5%;
	text-align: center;
}


.lista ul {
	list-style-type: none;
}

.lista ul li {
	display: inline;
	padding: 0 0.5% 0 0.5%;
}

.lista ul li img {
	max-width: 10%;
	border-radius: 20px;
	cursor: pointer;
}

.open .partia {
	position: relative;
	width: 90%;
	margin: 0 5% 3% 5%;
	text-align: center;
	font-family: "Inter", sans-serif;
	backdrop-filter: brightness(90%);
	color: white;
	border-radius: 45px;
}

.emri {
	position: relative;
}

.emri h2 {
	font-weight: 700;
	font-size: 2.5rem;
}

.emri p {
	font-size: 1.3rem;
}

.partia img {
	max-width: 80%;
	margin: 0 10%;
	height: auto;
	border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        transition: opacity 0.3s ease-in-out;
}

.partia .shkarko {
        font-size: 1.3em;
        padding-bottom: 1%;
        position: relative;
    }

    .partia button {
        position: relative;
        padding: 0.7em;
        font-size: 1em;
        border-radius: 27px;
        font-weight: 500;
        color: white;
        cursor: pointer;
        font-family: "Inter", sans-serif;
    }

    .partia .prog1 {
        background: #e11414;
        border: 1px solid #e11414;
    }

    .partia .prog1:hover {
        background: transparent;
        backdrop-filter: blur(15px);
        border-color: white;
        transition: 0.5s;
    }

    span .prog2 {
        background: transparent;
        backdrop-filter: blur(15px);
        border: 1px solid white;
    }

    span .prog2:hover {
        transition: 0.5s;
        background: #00af62;
        border: 1px solid #00af62;
    }

    .qendra .open {
    	background: url("Partite/1x/shb.webp");
    	background-size: cover;
    	background-position: center;
    }

    .qendra .open .prog2 {
        background: transparent;
        backdrop-filter: blur(15px);
        border: 1px solid white;
    }

    .qendra .open  .prog2:hover {
        transition: 0.5s;
        background: #00af62;
        border: 1px solid #00af62;
    }

    .majtas .open {
    	background-size: cover;
    	background-position: center;
    }

    .djathtas .open {
    	background-size: cover;
    	background-position: center;
    }


@media (max-width: 975px) {
		.footer {
		bottom: -350%;
	}

	.footer .footercont div {
		display: block;
		width: 90%;
		margin: 0 5%;
		text-align: center;
	}
}

    @media (max-width: 769px) {
	content {
		top: 40%;
	}

	
}

@media (max-width: 426px) {
	.footer {
		bottom: -400%;
	}

	.footer .footercont div {
		display: block;
		width: 90%;
		margin: 0 5%;
		text-align: center;
	}

	.lista ul li img {
		max-width: 20%;
	}

	.emri h2 {
		font-size: 2rem;
	}

	.emri p {
		font-size: 1.2rem;
	}

	.prog p {
		font-size: 0.8rem;
	}

	.partia img {
		max-width: 100%;
		margin: 0;
	}
}